
    <!--<mat-toolbar>
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon>list</mat-icon>
            </button>
            <div td-toolbar-content layout="row" layout-align="start center" flex>
               <span> <strong>INSCRIÇÃO DO EVENTO</strong></span>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>-->
    <div main-content layout="row" layout-align="center start">
  <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="inscricao">
    <mat-card-content>

      <!-- FORMULÁRIO -->
      <form #vform="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

        <!-- FORMULÁRIO -->
        <div fxLayout="column">
          <div style="padding: 10px 80px;">
            <h2>
              <i class="fa fa-calendar" aria-hidden="true"></i><strong style="margin-left: 10px">Evento: </strong>
              {{evento?.nome}}
            </h2>
            <p>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <strong style="margin-left: 16px">Carga Horaria: </strong>{{evento?.cargaHoraria}}</p>
            <p>
              <i class="fa fa-map-marker"></i>

              <strong style="margin-left: 20px">Local: </strong>{{evento?.local}}</p>
            <p>
              <i class="fa fa-calendar"></i>
              <strong style="margin-left: 16px">Data Inicio: </strong>{{evento?.dataInicio}}</p>
            <p>
              <i class="fa fa-calendar"></i>
              <strong style="margin-left: 16px">Data Fim: </strong>{{evento?.dataFim}}</p>
          </div>

          <mat-divider></mat-divider>
          <div style="border-top: 1px solid #dddddd;padding: 10px 80px;">
            <h2><i class="fa fa-info" aria-hidden="true"></i>
              <strong style="margin-left: 20px">Informação do participante</strong></h2>
            <h3>
              <i class="fa fa-user" aria-hidden="true"></i>
              <strong style="margin-left: 18px">Nome do Participante: </strong> {{participanteLogado?.nome}}
            </h3>
            <p>
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <strong style="margin-left: 18px">CPF: </strong>{{participanteLogado?.cpf}}</p>
            <p>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <strong style="margin-left: 17px">Email: </strong>{{participanteLogado?.email}}</p>
          </div>


          <!-- CATEGORIA PARTICIPANTE EVENTO -->
          <div style="padding: 10px 80px;">
            <mat-form-field style="width: 50%">
              <mat-select [compareWith]="compareByOptionId" placeholder="Categoria da Inscricao do Participante" name="categoriaParticipanteEvento"
                [(ngModel)]="inscricao.categoriaParticipanteEvento" required>
                <mat-option *ngFor="let categoriaParticipanteEvento of categoriaParticipanteEventos" [value]="categoriaParticipanteEvento">
                  {{ categoriaParticipanteEvento.categoriaParticipante.titulo }}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <!-- OBSERVACAO -->
            <mat-input-container floatPlaceholder="auto" flex="100" style="width: 50%">
              <input matInput [(ngModel)]="inscricao.observacao" name="observacao" type="text" placeholder="Observação">
            </mat-input-container>

          </div>
        </div>

        <div fxLayout="column">
          <div style="padding: 10px 80px;">
            <mat-card-actions>
              <button mat-button mat-raised-button [disabled]="!vform.form.valid" color="primary" type="submit">INSCREVER</button>
              <a mat-button color="warn" [routerLink]="['']">CANCELAR</a>

            </mat-card-actions>
          </div>
        </div>




      </form>

    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>