/* EDU: botão de adicionar novo registro */
.fab-in-tittle {
    margin-top: -4px;
   }
   .fab-in-tittle .mat-icon {
    margin-top: 0px !important;
   }
   
   /* ajusta aspectos do card de lista de registros */
   .list-card {
    margin-bottom: 0px !important;
   }
   .mat-list-item.list-item-resp:hover {
    background-color: #f6f7fa;
   }
   .list-card-field {
    padding: 0px;
    @media (max-width: 700px) {
        margin-top: 3px;
    }
   }
   .list-item-resp {
    @media (max-width: 700px) {
        height: 66px;
    }
   }
   
   /* define quando um item da lista está ativo, com uma cor diferente */
   .link {
    /* tira o mouse de drag-and-drop e coloca o ponteiro de link no título do card */
    cursor: pointer;
   }
   
   .link:hover {
    /* deixa o texto do link com linha em baixo quando o usuário passa o mouse em cima */
    text-decoration: underline;
   }
   
   .mat-card-subtitle {
    margin-top: 5px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
   }
   
   .mat-card-title a {
    text-shadow: 0 0 8px #bbb;
    font-size: 80%;
   }
   
   .mat-card-title {
    background: #1976d2;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: 10px;
   }
   
   .mat-icon {
    vertical-align: middle;
    margin-top: -4px !important;
   }
   
   p {
    line-height: 24px;
   }
   
   h2 {
    margin-left: 8px;
    margin-top: 5px;
   }

   h3 {
       padding:  0 !important;
   }
   
   h4 {
    margin-left: 8px;
    font-style: italic;
    font-weight: 100;
    margin-top: -17px;
   }
   
   .fullwidth {
    width: 100%;
   }
   
   