<div main-content layout="row" layout-align="center start">

  <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="evento">

    <mat-card-title class="background-color-primary">Informações Gerais </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <!-- FORMULÁRIO -->
      <form #vform="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

        <!-- FORMULÁRIO -->
        <div fxLayout="column">
          <!-- NOME -->
          <mat-input-container floatPlaceholder="auto" flex="100">
            <input matInput #nome="ngModel" minlength="5" maxlength="250" [(ngModel)]="evento.nome" name="nome" type="text" placeholder="Nome do Evento"
              required>
            <mat-error [hidden]="nome.valid || (nome.pristine && !vform.submitted)">
              O nome do Evento é um campo obrigatório de 5 até 250 caracteres.
            </mat-error>
          </mat-input-container>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">

            <!-- SIGLA -->
            <mat-input-container floatPlaceholder="auto" fxFlex="25">
              <input matInput #sigla="ngModel" [(ngModel)]="evento.sigla" name="sigla" type="text" placeholder="Sigla Exclusíva do Evento"
                minlength="5" maxlength="50" required pattern="^[a-zA-Z0–9_.+-]+$">
              <mat-error [hidden]="sigla.valid || (sigla.pristine && !vform.submitted)">
                A sigla do Evento é um campo obrigatório e exclusivo, de 5 até 50 caracteres e não pode conter espaços.
              </mat-error>
            </mat-input-container>

            <!-- EMAIL -->
            <mat-input-container floatPlaceholder="auto" fxFlex="25">
              <input matInput #email="ngModel" [(ngModel)]="evento.email" name="email" type="email" placeholder="Email do Evento" required
                pattern='\S+@\S+\.\S+'>
              <mat-error [hidden]="email.valid || (email.pristine && !vform.submitted)">
                Digite um endereço de email válido.
              </mat-error>
            </mat-input-container>

            <!-- TIPO DE EVENTO -->
            <mat-input-container floatPlaceholder="auto" fxFlex="25">
              <mat-select placeholder="Tipo de Evento" name="tipoEvento" [compareWith]="compareByOptionId" [(ngModel)]="evento.tipoDeEvento" required>
                <mat-option *ngFor="let tipoEvento of tipoEventos" [value]="tipoEvento">
                  {{ tipoEvento.nomeSingular }}
                </mat-option>
              </mat-select>
            </mat-input-container>

            <!-- CARGA HORARIA -->
            <mat-input-container floatPlaceholder="auto" fxFlex="20">
              <input matInput #cargaHoraria="ngModel" [(ngModel)]="evento.cargaHoraria" name="cargaHoraria" type="number" placeholder="Carga Horária Total do Evento"
                required min="1" max="99999" pattern="^[1-9][0-9]*$">
              <mat-error [hidden]="cargaHoraria.valid || (cargaHoraria.pristine && !vform.submitted)">
                O mínimo necessário de horas é 1 (uma hora).
              </mat-error>
            </mat-input-container>
            <br/>

          </div>

          <!-- DESCRIÇÃO -->
          <mat-input-container floatPlaceholder="auto" flex="100">
            <textarea matInput #descricao="ngModel" placeholder="Descrição" name="descricao" [(ngModel)]="evento.descricao" matTextareaAutosize
              matAutosizeMinRows="1" matAutosizeMaxRows="5" required></textarea>
            <mat-hint [hidden]="!descricao.valid">A descrição do Evento aparecerá na página do Evento no Portal de Eventos e no email de aviso dos que assinaram
              o Push.</mat-hint>
            <mat-error [hidden]="descricao.valid || (descricao.pristine && !vform.submitted)">
              Digite ao menos uma linha para a descrição.
            </mat-error>
          </mat-input-container>


          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">

            <!-- PUBLICO ALVO -->
            <mat-input-container floatPlaceholder="auto" fxFlex="50">
              <input matInput [(ngModel)]="evento.public" name="publico" type="text" placeholder="Publico Alvo">
            </mat-input-container>


            <!-- LOCAL EVENTO -->
            <mat-input-container floatPlaceholder="auto" fxFlex="50">
              <input matInput [(ngModel)]="evento.local" name="local" type="text" placeholder="Local Principal / Cidades">
            </mat-input-container>

          </div>

          <h3 matSubheader>Períodos do Evento</h3>
          <!-- Data Inicial -->
          <mat-input-container floatPlaceholder="auto" flex="100">
            <label>
              Data e Hora do Início do Período de Inscrições:
              <br/>
              <br/>
              <input matInput #inicioInscricao="ngModel" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [(ngModel)]="evento.inicioInscricao"
                name="inicioInscricao" required>
              <owl-date-time [pickerMode]="'dialog'" #dt1></owl-date-time>
            </label>
          </mat-input-container>
          <mat-hint *ngIf="!isSubscriptionStartConflicsWithSubscriptionEnd() && !isSubscriptionStartConflicsWithEventStart()">
            Esta será a data/hora em que os interessados poderão começar a se inscrever no site.
          </mat-hint>
          <mat-error *ngIf="isSubscriptionStartConflicsWithSubscriptionEnd()">
            A data/hora de início das inscrições não pode ser posterior à data/hora de término das inscrições.
          </mat-error>
          <mat-error *ngIf="isSubscriptionStartConflicsWithEventStart()">
            A data/hora de início das inscrições não pode ser posterior à data/hora de início do Evento.
          </mat-error>

          <!-- Data Fim -->
          <mat-input-container floatPlaceholder="auto" flex="100">
            <label>
              Data e Hora do Fim do Período de Inscrições:
              <br/>
              <br/>
              <input matInput #fimInscricao="ngModel" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [(ngModel)]="evento.fimInscricao"
                name="fimInscricao" required>
              <owl-date-time [pickerMode]="'dialog'" #dt2></owl-date-time>
            </label>
          </mat-input-container>
          <mat-hint *ngIf="!isSubscriptionStartConflicsWithSubscriptionEnd() && !isSubscriptionEndConflicsWithEventEnd()">
            Esta será a data/hora em que as inscrições no Evento se encerrarão ao público, podendo haver inscrições somente pelo Gestor.
          </mat-hint>
          <mat-error *ngIf="isSubscriptionStartConflicsWithSubscriptionEnd()">
            A data/hora de término das inscrições não pode ser anterior à data/hora de início das inscrições.
          </mat-error>
          <mat-error *ngIf="isSubscriptionEndConflicsWithEventEnd()">
            A data/hora de término das inscrições não pode ser posterior à data/hora de término do Evento.
          </mat-error>

          <!-- Data Inicial -->
          <mat-input-container floatPlaceholder="auto" flex="100">
            <label>
              Data e Hora do Início do Evento:
              <br/>
              <br/>
              <input matInput #inicioEvento="ngModel" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="evento.inicioEvento"
                name="inicioEvento" required>
              <owl-date-time [pickerMode]="'dialog'" #dt3></owl-date-time>
            </label>
          </mat-input-container>
          <mat-hint *ngIf="!isEventStartConflicsWithEventEnd() && !isSubscriptionStartConflicsWithEventStart()">
            Esta será a data/hora em que o Evento começa oficialmente.
          </mat-hint>
          <mat-error *ngIf="isEventStartConflicsWithEventEnd()">
            A data/hora de início do Evento não pode ser posterior à data/hora de término do Evento.
          </mat-error>
          <mat-error *ngIf="isSubscriptionStartConflicsWithEventStart()">
            A data/hora de início do Evento não pode ser anterior à data/hora de início das inscrições.
          </mat-error>

          <!-- Data Fim -->
          <mat-input-container floatPlaceholder="auto" flex="100">
            <label>
              Data e Hora do Fim do Evento:
              <br/>
              <br/>
              <input matInput #fimEvento="ngModel" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" [(ngModel)]="evento.fimEvento" name="fimEvento"
                required>
              <owl-date-time [pickerMode]="'dialog'" #dt4></owl-date-time>
            </label>
          </mat-input-container>
          <mat-hint *ngIf="!isEventStartConflicsWithEventEnd() && !isSubscriptionEndConflicsWithEventEnd()">
            Esta será a data/hora em que o Evento termina oficialmente (carga horária completada).
          </mat-hint>
          <mat-error *ngIf="isEventStartConflicsWithEventEnd()">
            A data/hora de término do Evento não pode ser anterior à data/hora de início do Evento.
          </mat-error>
          <mat-error *ngIf="isSubscriptionEndConflicsWithEventEnd()">
            A data/hora de término do Evento não pode ser anterior à data/hora de término das inscrições.
          </mat-error>

        </div>

        <div layout="column">
          <mat-card-actions>
            <button mat-button mat-raised-button [disabled]="!vform.form.valid" color="primary" type="submit">SALVAR</button>
            <!-- <button mat-raised-button (click)="voltar()">CANCELAR</button> -->
            <!-- <button mat-button color="warn" (click)="voltar()">CANCELAR</button> -->
          </mat-card-actions>
        </div>




      </form>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>