<div main-content layout="row" layout-align="center start">

  <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

    <mat-card-title class="background-color-primary list-card fullwidth" fxLayout="row">
      <div flex>
        <mat-icon>list</mat-icon> Lista de Inscrições do Evento
      </div>
      <button mat-mini-fab class="fab-in-tittle" matTooltip="Adicionar um Novo Registro" matTooltipPosition="below" [routerLink]="['novo']">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title>
    <mat-divider></mat-divider>


    <mat-card-content>

      <div fxLayout="column">

        <form autocomplete="off" (ngSubmit)="doSearch()">

          <div class="titulo-pesquisa">
            <h2>Pesquisa por ...</h2>

            <mat-divider></mat-divider>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">

            <!-- CPF -->
            <mat-input-container floatPlaceholder="auto" fxFlex="15">
              <input matInput [(ngModel)]="filtro.participante.cpf" name="participante.cpf" type="text" placeholder="Cpf">
            </mat-input-container>

            <!-- NOME -->
            <mat-input-container floatPlaceholder="auto" fxFlex="25">
              <input matInput [(ngModel)]="filtro.participante.nome" name="participante.nome" type="text" placeholder="Nome do Participante">
            </mat-input-container>

            <!-- NOME CRACHA -->
            <mat-input-container floatPlaceholder="auto" fxFlex="20">
              <input matInput [(ngModel)]="filtro.participante.nomeCracha" name="participante.nomeCracha" type="text" placeholder="Nome do Cracha">
            </mat-input-container>

            <!-- CATEGORIA -->
            <!-- CATEGORIA PARTICIPANTE -->
            <mat-input-container floatPlaceholder="auto" fxFlex="20">
              <mat-select placeholder="Categoria " name="categoriasParticipanteEvento" [(ngModel)]="filtro.categoriaParticipante.titulo">
                <mat-option [value]="">
                  -- Todas as Categorias --
                </mat-option>

                <mat-option *ngFor="let categoriaParticipanteEvento of categoriasParticipanteEvento" [value]="categoriaParticipanteEvento.categoriaParticipante.titulo">
                  {{ categoriaParticipanteEvento.categoriaParticipante.titulo }}
                </mat-option>
              </mat-select>
            </mat-input-container>

            <div fxLayout="column">
              <mat-card-actions>
                <button mat-button mat-raised-button color="primary" type="submit" class="button-icon">
                  <span>
                    <div class="button-icon--text">Pesquisar</div>
                  </span>
                </button>
              </mat-card-actions>
            </div>

          </div>
        </form>

        <mat-list role="list">
          <mat-list-item *ngIf="this.inscricaoPage.content.length > 0" role="listitem">
            <div fxLayout="row" fxLayoutGap="20px" class="fullwidth">
              <div fxFlex="100" class="fullwidth" fxLayout.xs="column" fxLayoutGap.xs="0px">

                <div fxFlex="10" hide-xs>
                  <b>Cpf</b>
                </div>

                <div fxFlex="20">
                  <b>Nome</b>
                </div>

                <div fxFlex="15" hide-xs>
                  <b>E-mail</b>
                </div>

                <div fxFlex="10" hide-xs>
                  <b>Crachá</b>
                </div>

                <div fxFlex="10" hide-xs>
                  <b>Categoria</b>
                </div>

                <div fxFlex="10" hide-xs>
                  <b>Situação?</b>
                </div>

                <div fxFlex="10" hide-xs>
                  <b>Orgão</b>
                </div>

                <div fxFlex="10" hide-xs>
                  <b>Inscrição</b>
                </div>

              </div>
              <div fxFlex="15" class="fullwidth" fxLayoutAlign="center center">
                <span style="text-align: center;">
                  <b>Ações</b>
                </span>
              </div>
            </div>
          </mat-list-item>
          <mat-list-item *ngIf="this.inscricaoPage.content.length <= 0" role="listitem" fxLayoutAlign="center center">
            <span>Ainda não há itens a serem exibidos nesta lista.</span>
          </mat-list-item>
          <mat-divider *ngIf="this.inscricaoPage.content.length > 0"></mat-divider>
          <div fxLayout="column" *ngFor="let item of inscricaoPage.content">
            <mat-list-item role="listitem" class="list-item-resp">
              <div fxLayout="row" fxLayoutGap="20px" class="fullwidth list-item-resp">
                <div fxFlex="100" fxLayout.xs="column" fxLayoutGap.xs="0px" [routerLink]="['./' + item?.id]" fxLayoutAlign.xs="center start"
                  class="fullwidth cursor-pointer list-item-resp">
                  <div fxFlex="10" class="list-card-field" hide-xs>{{item?.participante?.cpf}}</div>
                  <div fxFlex="20" class="list-card-field">{{item?.participante?.nome}}</div>
                  <div fxFlex="15" class="list-card-field" hide-xs>{{item?.participante?.email}}</div>
                  <div fxFlex="10" class="list-card-field" hide-xs>{{item?.participante?.nomeCracha}}</div>
                  <div fxFlex="10" class="list-card-field" hide-xs>{{item?.categoriaParticipanteEvento?.categoriaParticipante?.titulo}}</div>
                  <div fxFlex="10" class="list-card-field" hide-xs>{{item?.status}}</div>
                  <div fxFlex="10" class="list-card-field" hide-xs>{{item?.participante?.instituicaoOrigem}}</div>
                  <div fxFlex="10" class="list-card-field" hide-xs>{{item?.dtInscricao}}</div>
                </div>
                <div fxFlex="15" class="fullwidth" fxLayoutAlign="center center">
                  <button mat-icon-button class="color-primary" matTooltip="Editar o Registro" matTooltipPosition="below" [routerLink]="['edit', item?.id]">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="excluirInscricaoByEvento(item?.id)" color="warn" matTooltip="Apagar o Registro" matTooltipPosition="below">
                    <mat-icon>delete</mat-icon>
                  </button>

                  <button mat-icon-button matTooltip="Gerar Crachá" [routerLink]="['gerar-cracha', item?.id]" matTooltipPosition="below">
                    <i class="material-icons">portrait</i>
                  </button>

                  <button mat-icon-button matTooltip="Gerar Certificado" [routerLink]="['gerar-certificado', item?.id]" matTooltipPosition="below">
                    <i class="material-icons">image</i>
                  </button>
                </div>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>


        <td-paging-bar [pageSize]="[2]" [total]="inscricaoPage.totalElements" (change)="page($event)">
          <span td-paging-bar-label hide-xs>Página:</span> {{inscricaoPage.number + 1}}
          <span hide-xs>de {{inscricaoPage.totalPages}}</span>
        </td-paging-bar>
      </div>
    </mat-card-content>

    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>