<div main-content layout="row" layout-align="center start">

  <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

    <mat-card-title class="background-color-primary list-card fullwidth" fxLayout="row">
      <div flex>
        <mat-icon>list</mat-icon> Lista de Inscrições do Evento
      </div>
      <button mat-mini-fab class="fab-in-tittle" matTooltip="Adicionar um Novo Registro" matTooltipPosition="below" [routerLink]="['novo']">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>

      <div fxLayout="column">

        <form autocomplete="off" (ngSubmit)="doSearch()">
          <div class="row">
            <div class="col-sm-12 text-center">

              <input type="text" name="participante.nome" [(ngModel)]="filtro.participante.nome" placeholder="Nome">

              <input type="text" name="participante.nomeCracha" [(ngModel)]="filtro.participante.nomeCracha" placeholder="Nome Cracha">

              <input type="text" name="participante.cpf" [(ngModel)]="filtro.participante.cpf" placeholder="CPF">

              <button name="button" type="submit" class="button-icon">
                <span>
                  <i class="fa fa-search icon-search"></i>
                  <div class="button-icon--text">Pesquisar</div>
                </span>

              </button>
            </div>
          </div>
        </form>


        <div class="row">
          <div class="col-xs-12 col-sm-4" *ngFor="let inscricao of inscricaoPage.content">
            <div class="single-card">
              <div class="card-photo">
              </div>
              <div class="card-content">
                <h3>
                  {{inscricao?.participante?.nome}}
                </h3>
                <div>{{inscricao?.participante?.nomeCracha}}</div>
                <div>{{inscricao?.participante?.cpf}}</div>
                <hr/>
                <hr/>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>