<nav-view-layout layout="column" flex style="height:100%">

  <div main-content flex layout="column" style="height:100%">


    <div layout-wrap layout="row" layout-align="center">
      <mat-card flex-gt-xs="40" flex-xs="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
        <mat-card-content>
          <span style="font-size: 20px">Eventos Ativos na Gestão da EJE</span>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-icon matPrefix>search</mat-icon>
          <td-search-input class="custom-search-input" placeholder="Pesquisar pelo nome do Evento" [showUnderline]="true" [debounce]="500"
            (searchDebounce)="pesquisaDescritiva($event)" (search)="pesquisaDescritiva($event)" (clear)="pesquisaDescritiva('')">
          </td-search-input>
        </mat-card-content>
      </mat-card>
    </div>

    <div layout="column">

      <div layout layout="row" layout-align="center">
        <mat-card flex-gt-xs="40" flex-xs="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngFor="let evento of eventoPage.content">

          <mat-card-title class="background-color-primary list-card fullwidth" fxLayout="row">
            <div flex>
              <i class="material-icons">event</i> {{ evento?.nome }}
            </div>
          </mat-card-title>
          <mat-divider></mat-divider>
          <mat-card-header>
            <mat-card-content>
              <p mat-line>Inicio do Evento: {{ dateLayout(evento?.inicioEvento) }}</p>
              <p mat-line>Fim do Evento: {{ dateLayout(evento?.fimEvento) }}</p>
              <mat-divider></mat-divider>
              <p>
                {{ evento?.descricao }}
              </p>
            </mat-card-content>
          </mat-card-header>
          <!-- </mat-card-header> -->
          <div>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <div layout="row" layout-align="end center">
                <button mat-button color="warn" class="text-upper" (click)="excluirEvento(evento?.id)">
                  EXCLUIR
                </button>

                <a mat-button [routerLink]="['/adm/evento/edit', evento?.id, 'geral']">EDITAR</a>
                <!-- <button mat-button color="primary" [routerLink]="['editar', evento?.id]">EDITAR</button> -->
              </div>
            </mat-card-actions>
          </div>
        </mat-card>
      </div>
    </div>


  </div>

</nav-view-layout>