<!-- menus da barra princiapl: este modelo é dividido em: menu horizontal princiapal | sub-menus verticais -->

<!-- menu: Eventos (corrigir: colocar mat-button quando paisagem, colocar mat-icon-button quando retrato) -->

<button mat-button matTooltip="Eventos Disponíveis" matTooltipPosition="below" [mat-menu-trigger-for]="eventosMenu">
    <span hide-xs hide-gt-xs show-gt-sm>EVENTOS</span>

    <mat-icon>event</mat-icon>
</button>

<mat-menu xPosition="after" yPosition="below" #eventosMenu="matMenu" [overlapTrigger]="false">

    <a mat-menu-item [href]="getLink('adm/evento/novo')">
        <mat-icon>menu</mat-icon>
        <span>Criar Novo Evento</span>
    </a>

    <!-- 
    <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Agenda</span>
    </button> -->

    <a mat-menu-item [href]="getLink('adm/eventos')">
        <mat-icon>menu</mat-icon>
        <span>Lista de Eventos</span>
    </a>

</mat-menu>

<!-- menu: Usuário -->

<button mat-button matTooltip="Opções de Usuário" matTooltipPosition="below" [mat-menu-trigger-for]="usuarioMenu">
    <span hide-xs hide-gt-xs show-gt-sm style="text-transform: uppercase"> {{userInfo.name}}</span>
    <mat-icon svgIcon="account"></mat-icon>
    <!-- <mat-icon>help_outline</mat-icon> -->
</button>

<mat-menu xPosition="after" yPosition="below" #usuarioMenu="matMenu" [overlapTrigger]="false">
    <!-- itens de menu com usuário -->
    <ng-container>

        <a mat-menu-item [href]="getLink('meu-cadastro')">
            <mat-icon>menu</mat-icon>
            <span>Meu Cadastro</span>
        </a>


        <a mat-menu-item [href]="getLink('')">
            <mat-icon>menu</mat-icon>
            <span>Minhas Inscrições</span>
        </a>

        <button mat-menu-item (click)="sair()">
            <mat-icon>menu</mat-icon>
            <span>Sair</span>
        </button>
    </ng-container>
    <!-- itens de menu sem usuário logado -->
    <!-- <ng-container>
            <button mat-menu-item>
                <mat-icon>menu</mat-icon>
                <span>Entrar</span>
            </button>
            <button mat-menu-item>
                <mat-icon>menu</mat-icon>
                <span>Criar Cadastro</span>
            </button>
        </ng-container>-->
</mat-menu>


<!-- menu: Ajuda -->

<button mat-button matTooltip="Ajuda do Site" matTooltipPosition="below" [mat-menu-trigger-for]="ajudaMenu">
    <span hide-xs hide-gt-xs show-gt-sm>AJUDA</span>
    <mat-icon>help_outline</mat-icon>
</button>

<mat-menu xPosition="after" yPosition="below" #ajudaMenu="matMenu" [overlapTrigger]="false">
    <!-- <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Acessibilidade</span>
    </button> -->
    <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Alto Contraste</span>
    </button>
    <!-- <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Dúvidas Frequêntes</span>
    </button>
    <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Mapa do Site</span>
    </button> -->
    <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Contato</span>
    </button>
</mat-menu>

<!-- BOTÃO DE OPÇÕES -->
<!-- <button mat-icon-button [matMenuTriggerFor]="toolbarMenu1">
  <mat-icon>more_vert</mat-icon>
</button> -->
<!-- MENU DE OPÇÕES -->
<!-- <mat-menu #toolbarMenu1="matMenu"> -->
<!-- LINK USERGUIDE -->
<!-- <a mat-menu-item>
    <mat-icon>help_outline</mat-icon>
    <span>Manual do Usuário</span>
  </a>
  <mat-divider></mat-divider> -->
<!-- BOTÃO SAIR -->
<!-- <button mat-menu-item (click)="sair()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sair</span>
</button> 
</mat-menu>-->