<td-layout-nav color="primary" navigationRoute="/">

    <div td-toolbar-content layout="row" layout-align="start center" flex>
        <div layout-wrap layout="row" layout-align="center">
            <div style="display: inherit;">
                <img [routerLink]="['/']" src="assets/imagens/small-logo.png" class="je-logo" style="width: 36px; height: 48px; margin-right: 10px;margin-top: 4px; cursor: pointer;">
                <div fxLayout="column">
                    <span [routerLink]="['/']" style="text-transform: uppercase; cursor: pointer;">
                        <!-- {{ recursoTypeLabel }} -->
                        Seven
                    </span>
                    <h3 class="md-subhead">
                        Sistema gestor de eventos
                    </h3>
                </div>
            </div>
        </div>

        <!-- TOOLBAR CONTENT -->
        <!-- <ng-content select="[toolbar-content]"></ng-content> -->
        <span flex></span>
    </div>
    <!--MAIN CONTENT -->
    <div main-content flex layout="column" style="height:100%">


        <div layout-wrap layout="row" layout-align="center">
            <mat-card flex-gt-xs="40" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

                <mat-card-title class="background-color-primary list-card fullwidth" fxLayout="row">
                    <div flex>
                        <mat-icon svgIcon="qrcode-scan" matListIcon></mat-icon> Leitor de QR Code
                    </div>
                </mat-card-title>
            </mat-card>
        </div>

        <div layout-wrap layout="row" layout-align="center">
            <mat-card flex-gt-xs="40" flex-xs="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
                <mat-tab-group>
                    <mat-tab label="LEITOR QR CODE">
                            <div fxLayout="column">
                            <mat-card-content>
                                <p *ngIf="availableDevices">
                                    <label for="video-input-select">Selecione a sua Câmera:</label>
                                    <select id="video-input-select" (change)="onDeviceSelectChange($event.target.value)">
                                        <option value="" [selected]="!selectedDevice">Sem Dispositivo</option>
                                        <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
                                    </select>
                                </p>

                                <div [hidden]="!hasCameras">

                                    <zxing-scanner #scanner class="test-class" [scannerEnabled]="scannerEnabled" [device]="selectedDevice" (camerasFound)="displayCameras($event)"
                                        (scanSuccess)="handleQrCodeResult($event)" [cssClass]="{customClass:true}"></zxing-scanner>

                                    <h2 *ngIf="!this.selectedDevice">Nenhuma câmera selecionada.</h2>
                                    <!-- <p>
                                                <button (click)="scannerEnabled=!scannerEnabled">Alternar Scanner [{{ scannerEnabled ? 'On': 'Off' }}]</button>
                                            </p> -->
                                    <!-- <p>
                                                Resultado:
                                                <strong>{{ qrResultString }}</strong>
                                            </p> -->

                                </div>

                                <div [hidden]="hasCameras">

                                    <h1>Parece que o seu dispositivo atual não tem câmeras, ou não consegui encontrá-las.</h1>

                                </div>
                            </mat-card-content>
                        </div>

                    </mat-tab>
                    <mat-tab label="CODIGO DE INSCRIÇÃO">
                            <div fxLayout="column">
                            <mat-card-title>
                                <span class="titulo-leitor-qrcode">
                                    <mat-icon svgIcon="key" matListIcon></mat-icon> Digite o Codigo de Inscrição</span>
                            </mat-card-title>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <!-- FORMULÁRIO -->
                                <form #vform="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">
                                        <div fxLayout="column">
                                        <!-- NOME -->
                                        <mat-input-container floatPlaceholder="auto" flex="100">
                                            <input matInput #codigoQrCode="ngModel" [(ngModel)]="inscricao.codigoQrCode" name="codigoQrCode" type="text" placeholder="Codigo de Inscrição"
                                                required>
                                            <mat-error [hidden]="codigoQrCode.valid || (codigoQrCode.pristine && !vform.submitted)">
                                                O codigoQrCode é um campo obrigatório .
                                            </mat-error>
                                        </mat-input-container>


                                        <div fxLayout="column">
                                            <mat-card-actions>
                                                <button mat-button mat-raised-button [disabled]="!vform.form.valid" color="primary" type="submit">VALIDAR</button>
                                                <a mat-button (click)="limpar()">LIMPAR</a>
                                            </mat-card-actions>
                                        </div>
                                    </div>
                                </form>
                            </mat-card-content>
                        </div>

                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>

    </div>
    <td-layout-footer color="primary" >
    </td-layout-footer>
</td-layout-nav>