<div main-content flex layout="column" style="height:100%">


    <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="inscricao">

        <mat-card-title class="background-color-primary list-card fullwidth" fxLayout="row">
            <div flex>
                <mat-icon>list</mat-icon> Crachá - {{inscricao?.participante.nome}}
            </div>
        </mat-card-title>
        <mat-divider></mat-divider>
    </mat-card>

    <div fxLayout="column">

        <div layout layout="row" layout-align="center">
            <div id="print-section" style="width: 100%">

                <div class="content_print">
                    <mat-card flex-gt-xs="40" flex-xs="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

                        <div style="border: 1px solid #cecece; ">
                            <mat-card-content>
                                <div style="text-align: center">
                                    <img *ngIf="cracha?.imagemTopo"  src="{{cracha?.imagemTopo}}" style="width: 100%;">
                                    <img *ngIf="!cracha?.imagemTopo"  src="/assets/imagens/logo_tre.png" style="width: 70%; padding: 40px 0 0 0">
                                </div>
                            </mat-card-content>
                            <mat-card-content>
                                <p class="nomeParticipante">
                                    {{ inscricao?.participante.nome }}
                                </p>
                                <ngx-qrcode style="text-align: center" [qrc-element-type]="elementType" [qrc-value]="value" qrc-class="aclass" qrc-errorCorrectionLevel="L">
                                </ngx-qrcode>
                            </mat-card-content>
                            <mat-card-content>
                                <p mat-line class="instituicaoOrigem">
                                    <strong>Instituicao de Origem:</strong> {{ inscricao?.participante.instituicaoOrigem}}</p>

                            </mat-card-content>

                            <mat-card-content>
                                <div style="text-align: center">
                                    <img *ngIf="cracha?.imagemRodape" src="{{cracha?.imagemRodape}}" style="width: 100%;">
                                </div>
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <mat-card flex-gt-xs="100" flex-xs="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
        <mat-card-actions>
            <div layout="row" layout-align="center">

                <button mat-button color="primary" (click)="print()">
                    <i class="material-icons">print</i> IMPRIMIR</button>

                <a mat-button color="warn" [routerLink]="['']">CANCELAR</a>
            </div>
        </mat-card-actions>
    </mat-card>



</div>