<section class="bgc-white" tdMediaToggle="gt-xs" [mediaClasses]="[ 'pad-bottom-xl']">

  <!-- <div layout-gt-xs="row" layout-align-gt-xs="center center">
    <h3 data-v-4d4316c9="" data-v-07e183d6="" class="titulo-secao">Filtre por tipo de evento</h3>
  </div> -->


  <section class="bgc-blue-A700 tc-white" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-md', 'pad-bottom-xl']">
    <div class="text-center push-top">
      <img src="/assets/imagens/buscar-eventos.svg" width="46" />
    </div>

    <div layout-gt-xs="row" layout-align-gt-xs="center center" style="margin-bottom: 10px">
      <h2 class="mat-display-1 text-center push-bottom" style="color: white">Encontre os Eventos</h2>
    </div>
    <div layout-gt-xs="row" layout-align-gt-xs="center center">
      <div flex-gt-xs="35">
        <td-search-input class="custom-search-input" placeholder="Pesquisar pelo nome do Evento" [showUnderline]="true" [debounce]="500"
          (searchDebounce)="pesquisaDescritiva($event)" (search)="pesquisaDescritiva($event)" (clear)="pesquisaDescritiva('')">
        </td-search-input>
      </div>

    </div>
  </section>


  <div layout-gt-xs="row" layout-align-gt-xs="center center">
    <div layout-gt-xs="row" flex-gt-xs="95" layout-margin>
      <div flex-gt-xs="30" *ngFor="let evento of eventoPage.content">
        <mat-card>
          <mat-toolbar color="accent" class="bgc-blue-A400 push-bottom">
            <span class="text-upper">
              <p mat-line>
                <i class="material-icons">event</i> {{ evento?.nome }} </p>
            </span>
          </mat-toolbar>
          <mat-divider></mat-divider>
          <mat-card-content style="padding: 0">
            <!-- <img src="/assets/imagens/image-tre.jpg" style="width: 100%" /> -->
          </mat-card-content>
          <mat-card-content>
            <p mat-line>Inicio do Evento: {{ dateLayout(evento?.inicioEvento) }}</p>
            <p mat-line>Fim do Evento: {{ dateLayout(evento?.fimEvento) }}</p>
          </mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon class="fill-grey-700"> </mat-icon>
              <h4 matLine> {{ evento?.descricao }}</h4>
            </mat-list-item>

          </mat-list>
          <mat-divider></mat-divider>

          <mat-card-actions>
            <a mat-button color="accent" class="text-upper">INSCREVER</a>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
  <div class="text-center push-top">
    <button mat-raised-button color="accent" class="mat-button-lg text-upper">View All Openings</button>
  </div>
</section>