<nav-view-layout layout="column" flex style="height:100%">

  <div main-content flex layout="column" style="height:100%">
    <div fxLayout="column">


      <div main-content layout="row" layout-align="center start">

        <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

          <mat-card-title class="background-color-primary list-card fullwidth" fxLayout="row">
            <div flex>
              <mat-icon>list</mat-icon> Lista de Participantes
            </div>
            <button mat-mini-fab class="fab-in-tittle" matTooltip="Adicionar um Novo Registro" matTooltipPosition="below" [routerLink]="['../participante/novo']">
              <mat-icon>add</mat-icon>
            </button>
          </mat-card-title>
          <mat-divider></mat-divider>
          <mat-card-content>

            <div layout="row" layout-align="center">
              <td-data-table [data]="data" [columns]="configWidthColumns">

                <ng-template tdDataTableTemplate="acoes" let-value="value" let-row="row">

                  <button mat-icon-button class="color-primary" matTooltip="Editar o Registro" matTooltipPosition="below" [routerLink]="['../participante/edit', row?.id]">
                    <i class="material-icons">mode_edit</i>
                  </button>
                  <button mat-icon-button (click)="excluirParticipante(row.id)" color="warn" matTooltip="Apagar o Registro" matTooltipPosition="below">
                    <i class="material-icons">delete_forever</i>
                  </button>


                </ng-template>

              </td-data-table>
            </div>


          </mat-card-content>
          <mat-card-footer>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>

</nav-view-layout>