<div main-content flex layout="column" style="height:100%">


    <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="inscricao">

        <mat-card-title class="background-color-primary list-card fullwidth" fxLayout="row">
            <div flex>
                <mat-icon>list</mat-icon> Crachá - {{inscricao?.participante.nome}}
            </div>
        </mat-card-title>
        <mat-divider></mat-divider>
    </mat-card>

    <div fxLayout="column">

        <div layout layout="row" layout-align="center">
            <div id="print-section" style="width: 100%">

                <div style="
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;">
                    <mat-card flex-gt-xs="40" flex-xs="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

                        <div style="border: 1px solid #cecece; ">
                            <mat-card-content>
                                <div style="text-align: center">
                                    <img [routerLink]="['/']" src="/assets/imagens/logo_tre.png" style="width: 80%;margin-top: 20px; cursor: pointer;">
                                </div>
                            </mat-card-content>
                            <mat-card-content>
                                <p mat-line style="
                                            text-align: center;
                                            font-family: Arial, Helvetica, sans-serif;
                                            font-size: 20px;
                                            font-weight: bold;
                                            margin-top: 20px;
                                            text-transform: uppercase;">
                                    {{ inscricao?.participante.nomeCracha }}
                                </p>

                                <hr style="height:2px; border:none; color:#cecece; background-color:#cecece; margin-top: 0px; margin-bottom: 0px;" />

                                <ngx-qrcode style="text-align: center" [qrc-element-type]="elementType" [qrc-value]="value" qrc-class="aclass" qrc-errorCorrectionLevel="L">
                                </ngx-qrcode>
                            </mat-card-content>
                            <mat-card-content>
                                <p mat-line style="
                                            text-align: center;
                                            font-family: Arial, Helvetica, sans-serif;
                                            font-size: 16px;">
                                    <strong>Instituicao de Origem:</strong> {{ inscricao?.participante.instituicaoOrigem}}</p>
                                <p mat-line style=" 
                                            text-align: center;
                                            font-family: Arial, Helvetica, sans-serif;
                                            font-size: 16px;">
                                    <strong>Cpf:</strong> {{ inscricao?.participante.cpf}}</p>
                                <p mat-line style=" 
                                            text-align: center;
                                            font-family: Arial, Helvetica, sans-serif;
                                            font-size: 16px;">
                                    <strong>Codigo da Inscrição:</strong>
                                </p>
                                <p mat-line style=" 
                                            text-align: center;
                                            font-family: Arial, Helvetica, sans-serif;
                                            font-size: 16px;">
                                    {{ inscricao?.codigoQrCode}}</p>

                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <mat-card flex-gt-xs="100" flex-xs="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
        <mat-card-actions>
            <div layout="row" layout-align="center">

                <button mat-button color="primary" (click)="print()">
                    <i class="material-icons">print</i> IMPRIMIR</button>
            </div>
        </mat-card-actions>
    </mat-card>



</div>