<div main-content layout="row" layout-align="center start">

  <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="inscricao">

    <mat-card-title>Cadastro de Inscricao </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>

      <!-- FORMULÁRIO -->
      <form #vform="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

        <!-- FORMULÁRIO -->
        <div layout="column">


         <!-- Data Inicial -->
         <mat-input-container floatPlaceholder="auto" flex="50">
            <label>
              Data e Hora do Início do Período de Inscrições:
              <br/>
              <br/>
              <input matInput [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [(ngModel)]="inscricao.dtInscricao"
                name="dtInscricao" required>
              <owl-date-time [pickerMode]="'dialog'" #dt1></owl-date-time>
            </label>
          </mat-input-container>
       

        </div>

        <div layout="column">
          <mat-card-actions>
            <button mat-button mat-raised-button [disabled]="!vform.form.valid" color="primary" type="submit">SALVAR</button>
        
          </mat-card-actions>
        </div>




      </form>

    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>