<div main-content layout="row" layout-align="center start">

  <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="categoriaParticipanteEvento">

    <mat-card-title>Reserva de Vagas por Categoria de Participantes</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>

      <form #vform="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

        <!-- FORMULÁRIO -->
        <div layout="row" layout-align="center start">


          <!-- CATEGORIA PARTICIPANTE -->
          <mat-form-field flex-gt-xs="60" flex="100" style="margin-right: 10px">
            <mat-select placeholder="Categoria de Participante" name="categoriaParticipante" [(ngModel)]="categoriaParticipanteEvento.categoriaParticipante">
              <mat-option *ngFor="let categoriaParticipante of categoriaParticipantes" [value]="categoriaParticipante">
                {{ categoriaParticipante.titulo }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- VAGAS -->
          <mat-form-field class="example-full-width" flex-gt-xs="10" flex="100">
            <input matInput placeholder="Vagas" name="vagas" [(ngModel)]="categoriaParticipanteEvento.vagas">
          </mat-form-field>

          <div layout="row" flex-gt-xs="25" flex="100">
            <mat-card-actions>
              <button mat-button mat-raised-button [disabled]="!vform.form.valid" color="primary" type="submit">INSERIR</button>
              <button mat-raised-button (click)="voltar()">CANCELAR</button>
            </mat-card-actions>
          </div>

        </div>

      </form>

      <div layout="row" layout-align="center">
        <td-data-table [data]="data" [columns]="configWidthColumns">
          <ng-template tdDataTableTemplate="acoes" let-value="value" let-row="row">

            <button mat-button color="warn"  (click)="excluirCategoriaParticipanteEvento(row.id)">
                <!-- <mat-icon svgIcon="delete" matListIcon></mat-icon> -->
                <i class="material-icons">delete_forever</i>
            </button>

            <button mat-button>
                <i class="material-icons">mode_edit</i>
            </button>

          </ng-template>

        </td-data-table>
      </div>


    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>