<div main-content layout="row" layout-align="center start">

  <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

    <mat-card-title class="background-color-primary list-card fullwidth" fxLayout="row">
      <div flex>
        <mat-icon>list</mat-icon> Certificado
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div fxLayout="column">

        <div class="actions">
          <ul>

            <li>
              <button mat-button color="primary" (click)="print()">
                <i class="material-icons">print</i> IMPRIMIR</button>
            </li>
          </ul>
        </div>



        <div class="page-preview" id="content" #content>

          <img *ngIf="certificado?.imagem" src=" {{certificado?.imagem}}" id="page-certificado" />
          <div *ngIf="!certificado?.imagem" id="page-certificado"></div>
          <div id="page-certificado-texto">

            <div class="texto" [innerHTML]="[certificado?.conteudoCertificado] | safeHtml"></div>

            <div id="editor" style="text-align: center">
              <h2> DESEMBARGADORA CÉLIA REGINA DE LIMA PINHEIRO
                <br/> Diretora da Escola Judiciária Eleitoral</h2>
            </div>

            <p id="editor" style="font-size: 11px; text-align: right; margin-top: 60px; margin-right: 90px;">Validar em http://www.tre-pa.jus.br com o código de autenticação: [{{inscricao?.codigoQrCode}}] </p>

          </div>
        </div>



      </div>
    </mat-card-content>
  </mat-card>
</div>