<h3 matDialogTitle>
  <mat-icon svgIcon="account-group" matListIcon style="margin-right:10px"></mat-icon>Editar Dados da Categoria Participante

  <mat-divider></mat-divider>
</h3>


<!-- FORMULÁRIO -->
<div layout="row" *ngIf="categoriaParticipanteEvento" flex>
  <form #vform="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

    <div fxLayout="column">
      <!-- FORMULÁRIO -->
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">


        <!-- CATEGORIA PARTICIPANTE -->
        <mat-input-container floatPlaceholder="auto" fxFlex="40">
          <mat-select #catParticipanteEvento="ngModel" [compareWith]="compareByOptionId" placeholder="Categoria de Participante" name="categoriaParticipante"
            [(ngModel)]="categoriaParticipanteEvento.categoriaParticipante" required>
            <mat-option *ngFor="let categoriaParticipante of categoriaParticipantes" [value]="categoriaParticipante">
              {{ categoriaParticipante.titulo }}
            </mat-option>
          </mat-select>
          <mat-error [hidden]="catParticipanteEvento.valid || (catParticipanteEvento.pristine && !vform.submitted)">
            O Categoria Participante do Evento é um campo obrigatório .
          </mat-error>
        </mat-input-container>
        <!-- VAGAS -->
        <mat-input-container floatPlaceholder="auto" fxFlex="15">
          <input matInput #vagas="ngModel" placeholder="Vagas" name="vagas" [(ngModel)]="categoriaParticipanteEvento.vagas" required>
          <mat-error [hidden]="vagas.valid || (vagas.pristine && !vform.submitted)">
            Vagas é um campo obrigatório .
          </mat-error>
        </mat-input-container>

        <mat-card-actions>
          <button mat-button mat-raised-button [disabled]="!vform.form.valid" color="primary" type="submit">ATUALIZAR</button>
          <a mat-button (click)="dialogRef.close()">CANCELAR</a>
        </mat-card-actions>


      </div>
    </div>
  </form>

</div>
<!-- FIM FORM -->