<div main-content flex layout="column" style="height:100%">


  <div layout-wrap layout="row" layout-align="center">
    <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

      <mat-card-title class="background-color-primary list-card fullwidth" fxLayout="row">
        <div flex>
          <mat-icon>list</mat-icon> Minhas Inscricoes
        </div>
      </mat-card-title>
      <mat-divider></mat-divider>
    </mat-card>
  </div>

  <div fxLayout="column">

    <div layout layout="row" layout-align="center">
      <mat-card flex-gt-xs="40" flex-xs="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']" >

        <mat-card-title class="background-color-primary list-card fullwidth" fxLayout="row">
          <div flex>
            <i class="material-icons">event</i> Evento
          </div>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-header>
          <mat-card-content>
            <p mat-line>Inicio do Evento: asdasd</p>
            <p mat-line>Fim do Evento: asdasd</p>
            <mat-divider></mat-divider>
            <p>
              DESCRICAO
            </p>
          </mat-card-content>
        </mat-card-header>
        <!-- </mat-card-header> -->
        <div>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <div layout="row" layout-align="end center">
              <button mat-button color="warn" class="text-upper">
                GERAR CERTIFICADO
              </button>

              <a mat-button >GERAR CRACHA</a>
              <a mat-button >EDITAR DA INSCRICAO</a>
              <!-- <button mat-button color="primary" [routerLink]="['editar', evento?.id]">EDITAR</button> -->
            </div>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>


</div>