<div main-content layout="row" layout-align="center start" >

  <mat-card flex-gt-xs="90" flex="100" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

    <mat-card-title class="background-color-primary list-card fullwidth" fxLayout="row">
      <div flex>
        <mat-icon>list</mat-icon> CRIAR MODELO DE CERTIFICADO DE PARTICIPANTES
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>

      <!-- FORMULÁRIO -->
      <form #vform="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

        <!-- FORMULÁRIO -->
        <div fxLayout="column">

          <div class="form-group">
            <label for="ModeloCertificadoTexto">Texto para o certificado de participação no evento* </label>
            <div><p style="text-align:left;font-size:14pt;font-weight: bold">Exemplo: </p></div>

            <div>
              <p style="text-align:center">
                <span style="font-size:16pt;font-weight: bold">CERTIFICADO</span>
              </p>
              <p>
                <span style="font-size:14pt">Certificamos que {{nome}} participou do(a) {{evento}} em {{local}}
                  durante o per&iacute;odo de {{dataInicio}} a {{dataFim}} , com carga hor&aacute;ria de {{cargaHoraria}}
                  hora(s).</span>
              </p>
            </div>

            
            <text-editor [value]="defaultBodyValue" [elementId]="'ModeloCertificadoTexto'" (onEditorKeyup)="onBodyTextEditorKeyUp($event)">
            </text-editor>

            <label>* Altere espaçamento, alinhamento, cor e tamanho da fonte para ajustar seu modelo</label>
            <label>** Os termos entre chaves serão substituídos pelo sistema </label>

          </div>

        </div>

        <div fxLayout="column">
          <mat-card-actions>
            <button mat-button mat-raised-button [disabled]="!vform.form.valid" color="primary" type="submit">SALVAR</button>
          </mat-card-actions>
        </div>

      </form>

    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>